body{
    font-style: normal;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.logo{
    background: rgba(47, 128, 237, 0.2);
    border-radius: 50%;
    height: 60px;
}
.ensign{
    width: 30px;
    height: 21.67px;
}
.ensign img{
    margin-top: 5px;
    margin-right: 2px;
    width: 21px;
}
.logo2{
    text-align: -webkit-right;
}
.logo-image2{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: rgba(47, 128, 237, 0.2);
}
.d-flex p{
    padding:0 15%;
}
.bt{
    border: 1px solid rgba(255, 255, 255, 0.1);
}