body{
    font-style: normal;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.logo{
    background: rgba(47, 128, 237, 0.2);
    border-radius: 50%;
    height: 60px;
}
.text2{
   padding-top: 3%;
    font-size: 30px;
    line-height: 46.88px;
    font-weight: 400;
}
.ensign{
    width: 30px;
    height: 21.67px;
}
.ensign img{
    margin-top: 5px;
    margin-right: 2px;
    width: 21px;
}
.logo2{
    text-align: -webkit-right;
}
.logo-image2{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: rgba(47, 128, 237, 0.2);
}
.main{
    border-radius: 0px 30px 30px 30px;
}
.main1{
    padding-left: 20%;
    margin-top: 10%;
    margin-bottom: 15%;
}
button{
    width: 270px;
    height: 54px;
}
.pt{
    font-size: 20px;
    line-height: 23.44px;
}
.bt {
    font-size: 20px;
    line-height: 23.44px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.choose{
    border-radius: 30px 30px 0px 0px;
    padding: 2%;
}